*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
main{
    max-width: 1200px;
    margin: auto;
}
h1{
    font-family: 'Merriweather', serif;
}
p, h3{
    font-family: 'Inter', sans-serif;
}
.hero_section{
    height: 500px;
    margin-top: 2.5rem;
    background: linear-gradient(190deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.15)), url(images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.hero_section p {
    font-size: 1.8rem;
}
.hero_section h1{
    font-size: 4.7rem;
    text-align: center;
    margin-top: 18px;
}
.section1{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
}
.section1 > h1{
    font-size: 4rem;
    color: #FF0000;
    margin-bottom: 20px;
}
.section1__p1 {
    color: #FF0000;
    font-weight: 500;
}
.section1__p2{
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 60px;
}
.section1 img{
    width: 600px;
}
.section2{
    height: 500px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.15)), url(images/Vectorrr.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
}
.section2__left{
    flex-basis: 65%;
    padding-left: 5rem;
}
.section2__left h1{
    font-size: 4.8rem;
    margin-bottom: 20px;
}
.section2__left p{
    margin-bottom: 20px;
}
.section2__left button{
    font-size: 1.7rem;
    color: #fff;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.section2__left button:hover{
    color: #000;
    background-color: #fff;
}

.section2__right img{
    width: 280px;
}
.section3{
    height: 400px;
    background: linear-gradient(rgba(255, 0, 0, 0.18), rgba(255, 255, 255, 0.9));
    margin-top: 4rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3 p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.section3 p span{
    color: #FF0000;
}
.section3 button{
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 7px 18px;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 16px;
    cursor: pointer;
}
.section4{
    display: flex;
    margin-top: 4rem;
    align-items: center;
    margin-bottom: 4rem;
}
.section4 div{
    flex-basis: 33.33%;
}
.section4__middle{
    display: flex;
    justify-content: center;
}
.section4__middle img{
    width: 320px;
    margin: auto;
    border: 10px solid red;
    border-radius: 50%;
    padding: 1.2rem;
}
.section4__left h3{
    color: #FF0000;
}
.section4__left h1{
    font-size: 2.5rem;
    margin: 10px 0px;
}
.section4__right h1{
    color: #FF0000;
}
.section4__right p{
    margin: 15px 0;
}
.section4__right img{
    width: 100px;
}
.section4__right{
    padding-left: 1.5rem;
}
.section5__top{
    text-align: center;
}
.section5__top h1{
    font-size: 3.8rem;
    margin: 15px 0;
}
.section5__top h1 span{
    color: #FF0000;
}
.section5__top p{
    width: 650px;
    margin: auto;
}
.section5__bottom{
    display: flex;
    align-items: end;
    margin-top: 3rem;
    flex-direction: column;
}
.section5__bottom_top_img{
    width: 400px;
    height: 400px;
    background-image: url(images/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.section5__bottom_top_img img{
    position: absolute;
    left: -40%;
    top: 10%;
}
.section5__bottom_bottom_img{
    width: 1200px;
    height: 150px;
    background-image: url(images/Rectangle\ 2.png); 
    position: relative;
    border-radius: 0 0 15px 15px;
}
.section5__bottom_bottom_img img{
    position: absolute;
    width: 550px;
    top: -230%;
    left: 5%;
}
.section6{
    margin: 4rem 0;
}
.section6 h3{
    color: #FF0000;
}
.section6 h1{
    font-size: 2.5rem;
    margin: 10px 0px;
}
.section6 p{
    width: 650px;
}
.gellary{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.gellary img{
    max-width: 387px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: transform 0.5s;
}
.gellary img:hover{
    filter: grayscale(0%);
    transform: scale(1.03);
}
.section7{
    height: 500px;
    background-image: linear-gradient(to right,rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.17));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section7 img{
    width: 120px;
}
.section7 h1{
    font-size: 2.4rem;
    margin-top: 15px;
}
.section7 p{
    width: 580px;
    text-align: center;
    margin: 10px 0 35px;
}
.input_field{
    background-color: #fff;
    width: 450px;
    padding: 0px 0px 0px 18px;
    height: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
}
.input_field input{
    border: none;
    outline: none;
    font-size: 16.5px;
}
.input_field button{
    padding: 0 1.6rem;
    border-radius: 0 35px 35px 0;
    outline: none;
    border: none;
    color: #fff;
    background-color: #FF0000;
    font-size: 16.6px;
    cursor: pointer;
}
footer{
    background-color: #000;
    margin-top: 4rem;
    padding: 4rem 0;
    color: #fff;
}
.footer__div{
    max-width: 1200px;
    margin: auto;
}
.footer__div_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.icon__div{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 10px;
}
.icon__div a{
    text-decoration: none;
    color: #fff;
}
.devider{
    background-color: rgba(255, 255, 255, 0.25);
    height: 0.5px;
    border: none;
}
.footer__div_middle{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.8rem 0;
}
.footer__div_middle img{
    cursor: pointer;
}
.footer__div_bottom{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}